@model List<VisitorsByYearMonthViewModel>
@{
    var data = Model;
    var currentMonthText = DateTime.Now.ToString("MMM");
    var currentYear = DateTime.Now.Year;
    var currentMonthYearText = currentMonthText + " " + currentYear;
}

<div class="card">
    <div class="card-header">
        <h4>ChatBOT Visits - @currentYear</h4>
    </div>
    <div class="card-body">
        <canvas id="VisitorsByYearMonthChart"></canvas>
        <script type="text/javascript">
            $(document).ready(function () {
                renderVisitorsByYearMonthChart();
            });

            function renderVisitorsByYearMonthChart() {
                var response = @Html.Raw(Json.Serialize(Model));
                var reportLabels = [];
                var reportData = [];

                response.forEach(function (value, index, array) {
                    var monthText = value.monthText + '-' + value.year.toString().slice(-2)
                    reportLabels.push(monthText);
                    reportData.push(value.visits);
                });

                var ctx = document.getElementById("VisitorsByYearMonthChart").getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: reportLabels,
                        datasets: [{
                            label: 'Number of Visits ',
                            data: reportData,
                            borderWidth: 2,
                            backgroundColor: '#6777ef',
                            borderColor: '#6777ef',
                            borderWidth: 2.5,
                            pointBackgroundColor: '#ffffff',
                            pointRadius: 4
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                gridLines: {
                                    drawBorder: false,
                                    color: '#f2f2f2',
                                },
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 20
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    display: false
                                },
                                gridLines: {
                                    display: false
                                }
                            }]
                        },
                    }
                });
            }
        </script>
    </div>
</div>
