@{
}

<div class="section-header">
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <h1>Application Error</h1>
    </div>
    <div class="col-lg-2 col-md-6 col-sm-6 col-12">
        <button type="button" class="btn btn-primary">Back to home page</button>
    </div>
</div>

<div class="section-body">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4>Invalid Input Error</h4>
                </div>
                <div class="card-body">
                   
                    <div class="alert alert-danger">
                        Please provide a valid Input.
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>