<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackEnd</title>

    <script type="text/javascript" src="~/lib//jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body class="scroll-enable">


    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 ib-yellow-border">
            <div class="container">


                <a class="navbar-brand" asp-area="" asp-controller="Report" asp-action="Index">
                    <img src="~/lib/images/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Indian Bank">
                    Indian Bank - Backend
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @RenderSection("Scripts", required: false)

    <style>
        .scroll-enable {
            overflow: scroll;
        }


        .color-black {
            color: black;
        }

            .color-black.active {
                /*font-weight:bold;*/
            }

        .navbar-ib {
            background-color: #0c4da2
        }

        .ib-yellow-border {
            border-bottom: 1px solid #e0a800 !important;
        }
    </style>
</body>
</html>
