@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
          Cache-Control:public;>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE" />
    <META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html; charset=UTF-8" />
    <META HTTP-EQUIV="Content-Script-Type" CONTENT="text/javascript" />
    <META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Indian Bank Bot</title>

    <link href="~/content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/content/css/chatbot.css" rel="stylesheet" />

    <script src="~/lib/stisla/modules/jquery.min.js"></script>
    <script src="content/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/stisla/modules/jquery-ui/jquery-ui.min.js"></script>

    <script src="content/webchat/babel.min.js" charset="utf-8"></script>
    <script src="content/webchat/react.development.js"></script>
    <script src="content/webchat/react-dom.development.js"></script>
    <script src="content/webchat/react-redux.min.js"></script>
    <script src="content/webchat/index.js"></script>
    
    <script type="text/javascript" src="scripts/jquery.mockjax.js"></script>
    <script type="text/javascript" src="scripts/jquery.autocomplete.js"></script>
</head>

<body>
    <div id="webchat" role="main"></div>

    <div id="carousel-container">
        <div class="carousel slide multi-item-carousel" data-interval="false" id="theCarousel">
            <div class="carousel-inner">
                <div class="item active">
                    <button data-msg-text="about us" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        About Us
                    </button>
                    <button data-msg-text="product" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        Products
                    </button>
                    <button data-msg-text="services" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        Services
                    </button>
                </div>

                <div class="item">
                    <button data-msg-text="product" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        Products
                    </button>
                    <button data-msg-text="services" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        Services
                    </button>
                    <button data-msg-text="links" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        Links
                    </button>
                </div>

                <div class="item">
                    <button data-msg-text="services" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        Services
                    </button>
                    <button data-msg-text="links" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        Links
                    </button>
                    <button data-msg-text="rates" type="button" class="btn btn-xs btn-outline-primary btn-suggestion">
                        Rates
                    </button>
                </div>
            </div>

            <a class="left carousel-control" href="#theCarousel" data-slide="prev" style=" color:#337ab7; ">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
            <a class="right carousel-control" href="#theCarousel" data-slide="next" style=" color:#337ab7; ">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </div>
    </div>

    <script src="~/content/js/webchat-es5.js"></script>
    <script src="~/content/webchat/CustomisedWebChat.js" type="text/babel"></script>
    <script src="~/content/webchat/bot.js"></script>
</body>
</html>