.css-eycyw2.css-1882x3w.css-1l9a57c {
    position: fixed !important;
    bottom: 16px !important;
    width: 100% !important
}

.css-gtdio3.css-mfy564 {
    margin-bottom: 25px !important
}

.css-ljhy6a.css-7c9av6 {
    padding-bottom: 25px !important;
}

.main {
    border-top: 1px solid #007EFF;
}

.css-1lzfo2b.css-14x775w {
    display: none;
}

/* .css-ljhy6a.css-7c9av6{ margin-bottom:20px}*/
@media screen and (min-width:0\0) {
    .css-2p02md > .content > .webchat__row > .bubble, [data-css-2p02md] > .content > .webchat__row > .bubble, .css-2p02md > .content > .webchat__row > .timestamp, [data-css-2p02md] > .content > .webchat__row > .timestamp {
        margin-bottom: 13px;
    }
}
